<div class="box">
  <div class="media">
    <div class="media-content">
      <h3 class="title is-3">All users</h3>
      <% has_friendship = current_user.has_friendship %>
      <% @users.each do |user| %>
        <%= render "user_row", user: user do %>
          <% if user == current_user %>
            <p>This is your profile!</p>
          <% elsif not has_friendship.include? user %>
            <%# no relationship with user, can send request %>
            <%= link_to "/friend/#{user.id}", method: :post do %>
              <button class="button is-primary is-small">Send friend request</button>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>