<% if local_assigns[:message] and local_assigns[:color] %>
  <div class="notification is-<%= color.to_s %> mb-3">
    <%= message %>
  </div>
<% else %>
  <p>ERROR: <code>message</code> or <code>color</code> is not defined!</p>
<% end %>