<%# render a comment, to be included within a post %>

<% user = comment.user %>
<article class="media post-comment">
  <div class="media-left">
    <%= link_to user, class: "has-text-dark" do %>
      <strong><%= user.name %></strong>
    <% end %>
  </div>
  <div class="media-content is-clipped">
    <div class="content">
      <p><%= comment.content %></p>
    </div>
  </div>
  <% if comment.user == current_user %>
    <%= link_to comment, method: :delete, data: { confirm: "Delete this comment?" } do %>
      <button class="delete is-pulled-right"></button>
    <% end %>
  <% end %>
</article>